@import url("https://fonts.googleapis.com/css?family=Raleway|Oswald");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container {
  height: 400px;
  width: 100%;

  margin: auto;
  background: url("mount.jpg") no-repeat;
  display: table;
  top: 0;
  background-size: cover;
}
.container .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}
.content {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.content h1 {
  color: #f9f3f4;
  font-family: "Raleway", sans-serif;
  font-size: 500%;
  text-shadow: 2px 10px 90px #000;
}

.btn {
  border-radius: 9px;
  font-family: "Oswald", sans-serif;
  color: #bdc3c7;
  font-size: 135%;
  padding: 10px 20px;
  border: 3px solid#bdc3c7;
  text-transform: uppercase;
  text-decoration: none;
}
.btn:hover {
  color: #fff;
  border: 3px solid #fff;
}
p {
  font-size: 160%;
  line-height: 210%;
  text-align: justify;
  margin: 3%;
  font-family: sans-serif;
}

@media screen and (max-width: 768px) {
  .content h1 {
    font-size: 250%;
  }
  .btn {
    font-size: 110%;
    padding: 7px 15px;
  }
  p {
    font-size: 100%;
    line-height: 160%;
  }
}
